<div id="posts_wrapper" class="skinny_wrapper">

  <% if @works != nil %>
  <% @works.each do |work| %>
    <div class="post">
      <p class="date"><%= work.created_at.strftime("%A, %B %d") %></p>
      <h2><%= link_to work.title, work %></h2>
      <hr>
    </div> 
  <% end %>

  <div class="pagination">
    <span class="previous_page disabled">
      <- Previous
    </span>
    <em class="current">1</em>
    <a href="#" rel="next">2</a>
    <a href="#" class="next_page">Next -></a>
   </div>
   
  <% else %>
    <div class="post">
      <h2>Please add work experience</h2>
      <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i>'.html_safe , new_work_path %>
    </div>
  <% end %>
</div>