<div class="content">
  <div id="posts_wrapper" class="skinny_wrapper">

  <% @works.each do |work| %>
    <div class="post">
      <p class="date"><%= work.created_at.strftime("%A, %B %d") %></p>
      <h2><%= link_to work.title, work %></h2>
      <hr>
    </div> 
  <% end %>

  <div class="pagination">
    <span class="previous_page disabled">
      <- Previous
    </span>
    <em class="current">1</em>
    <a href="#" rel="next">2</a>
    <a href="#" class="next_page">Next -></a>
   </div>
</div>