$dark: #424652;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #E9E9E9;
$white: #FFF;
$black: #000000;

.content_other{
  img{
    display: block;
    width: 50%;
    border-radius: 50%;
    padding: 3em 0;
    margin: auto;
  }

  .about{
    background-color: $white;
    padding: .5em;
  }
}